*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
    border: 1px solid rgb(228, 227, 227);
    box-shadow: 0 2px 20px 2px rgb(228, 227, 227);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
}
.card:hover{
    box-shadow: 0 2px 20px 2px #7c70b2bb;
}

.btn-more-info{
    background-color: #7c70b2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}
.btn-more-info:hover{
background-color: #504874;
}

.card-info{
    border-top: 1px solid rgb(172, 171, 171);
    border-bottom: 1px solid rgb(172, 171, 171);
    padding: 5px;
    width: 100%;
    text-align: center;
}